.img-responsive {
    width: 35%;
    height: 400px;
    max-width: 100%;
    display: block;
}
.title {
    font-family: 'Pacifico', cursive;
    background-color: #198754
}
.band-green {
    display: flex;
    background-color: #198754;
}
/* .MonMenu {
    display: flex;
    font-family: 'Pacifico', cursive;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
    padding-left: 30%;
    
} */
/* .MonMenu a {
    color: black;
    text-decoration: none;
    font-size: x-large;

}
.MonMenu a:hover {
    color: white;
}
.title {
    min-width: 35%;
    text-align: center;
    font-family: 'Pacifico', cursive;
} */
header {
    background: linear-gradient(0.25turn,#90EE90, #3CB371)
}
.bg-gradient {
    width: 100%;
}
